<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detHeroe1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detHeroe1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>

      <ion-card>
        <img alt="Imagen del Heroe" [src]="[ otroDato.img]" />
        <ion-card-header>
          <ion-card-title>{{ otroDato.nombre}}</ion-card-title>
          <ion-card-subtitle>{{ otroDato.casa}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ otroDato.bio}}
        </ion-card-content>

      </ion-card>
    </ion-item>

  </ion-list>


</ion-content>