<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detFotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detFotos</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-list>
    <ion-item *ngFor="let foto of unasFotosHeroe; let index">
      <!--
      <ion-avatar slot="start">
        <img [src]="[ foto.url]" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ foto.url}}</ion-label>
      -->

      <ion-card>
        <img alt="Imagen" 
        [src]="[ foto.url]" />
        <!--
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        -->
      </ion-card>

    </ion-item>

  </ion-list>
  
</ion-content>
